* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #1E1E1E;
  color: #FCFFFC;
  position: relative;
}

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .25);
  background-color: #1E1E1E;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header a {
  text-decoration: none;
  color: #FCFFFC;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav a {
  text-transform: uppercase;
}

header .logo {
  width: 40px;
  height: 40px;
  background-color: #FCFFFC;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272A2C;
  font-weight: 900;
}

nav ,section, footer {
  max-width: 390px;
  margin: 0 auto;
  /* background-color: #333d471a; */
  padding: 1rem;
}

.wrapper {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .25);
}

footer {
  text-align: center;
  color: #42484c;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.hero-section img {
  width: 300px;
  height: 100%;
  transform: translateX(-55px);
}

.img-container {
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  border: 4px solid #272A2C;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
}

.profile-container {
  margin: 3rem 0;
}

/* Typo Styling */

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.about-text {
  margin-top: 1rem;
}

a {
  text-decoration: underline;
  color: #FCFFFC;
}

.name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: .25rem;
}

.profession {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF80;
}

.section-title {
  font-weight: 400;
  font-size: 20px;  
  color: rgba(122, 147, 172, 0.49);
}

.contact-section > p {
  line-height: 200%;
}


/* ----------------------- */


hr {
  border: 1px solid rgba(122, 147, 172, 0.51);
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.btn {
  font-family: "Lato" sans-serif;
  margin: 0 0 1rem;
  height: 4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 20px;
  background-color: #1E1E1E;
  /* padding: 1rem; */
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  overflow: hidden;
}


.contact-section .button-container {
  margin: 3rem auto;
}

.solid {
  background: #7A93AC;
  color: #1E1E1E;
}

.solid:hover {
  background: #63788c;
}

.outline {
  border: 4px solid #7A93AC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  color: #7A93AC;
}

.outline:hover {
  /* background-color: rgb(41, 41, 41); */
  border: 4px solid #5a6e81;
  color: #5a6e81;
}

.btn-icon {
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
}

